<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="tests/bootstrap.php"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true"
        cacheDirectory="var/cache/phpunit"
        testdox="true"
        failOnDeprecation="false"
        failOnPhpunitDeprecation="false"
        failOnWarning="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Serendipity HQ Monolog Colorful HTML Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source
            ignoreSuppressionOfDeprecations="true"
            ignoreSuppressionOfPhpDeprecations="true"
            ignoreSuppressionOfNotices="true"
            ignoreSuppressionOfWarnings="true"
            ignoreSuppressionOfErrors="true"
            ignoreSuppressionOfPhpNotices="true"
            ignoreSuppressionOfPhpWarnings="true"
            ignoreDirectDeprecations="true"
            ignoreSelfDeprecations="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
